.switch-button {
    background-color: #011AF5; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }

  .switch-button.scrolled {
    /* estilos quando scrolled é true */
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 200px;
    padding: 8;
    scale: 2;
  }

