/*switchbutton*/
.switch-button {
    background-color: #2E3192; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }

  /*jobsCard*/
  .jobsCard {
    background: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(46,49,146, 0.5);
    margin: 2rem;
}

.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*Wallet*/

/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.wallet-container {
  background: #0077b6;
  backdrop-filter: blur(10px);
  border-radius: 16px;
  width: 150px;
  text-align: center;
}

.wallet-container p {
  color: white;
}

.wallet-container button {
  background-color: #0077b6;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  width: 100%;
}

.wallet-container button:hover {
  background-color: #009bb5;
}

