/*landpage*/
main {
    margin: auto;
    font-family: Arial, sans-serif;
    color: #333;
  }

a {
  color: #000;
}

.fade {
  transition: opacity 0.5s ease-out;
}

section {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(46,49,146, 0.5);
  margin: 150px 200px 150px 200px;
}
  
h2 {
  color: #0077b6;
  border-bottom: 2px solid #0077b6;
  padding-bottom: 0.5rem;
}
p {
  line-height: 1.6;
  margin: 1rem 0;
}
  
ul {
  list-style-type: none;
  padding: 0;
}
  
.landPage ul li {
  background: #e9f5ff;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-left: 4px solid #0077b6;
  border-radius: 4px;
}
  
.landPage ul li strong {
  display: block;
  color: #0077b6;
}

/*app page*/
.mainApp {
  display: flex;
  flex-direction: column;
}

.mainAppPage {
  display: flex;
  flex-direction: row;
}

.sidebar {
  margin-top: 50px;
  padding: 0;
  position: fixed;
}

.jobs-card-container {
  width: 80%; /* adjust the width to your liking */
  padding: 20px;
  margin-left: 30%;
}
header.headerApp {
  height: 60px; 
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  top: 0;

}