.switch-button {
    background-color: #011AF5; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }

  .jobsCard {
    background: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px black;
    margin: 2rem;
}

.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}