/*landpage*/
main {
    margin: auto;
    font-family: Arial, sans-serif;
    color: #333;
  }

a {
  color: #000;
}

.fade {
  transition: opacity 0.5s ease-out;
}

section {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(46,49,146, 0.5);
  margin: 150px 200px 150px 200px;
}
  
h2 {
  color: #0077b6;
  border-bottom: 2px solid #0077b6;
  padding-bottom: 0.5rem;
}
  
ul {
  list-style-type: none;
  padding: 0;
}
  
.landPage ul li {
  background: #e9f5ff;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-left: 4px solid #0077b6;
  border-radius: 4px;
}
  
.landPage ul li strong {
  display: block;
  color: #0077b6;
}

/*app page*/
.mainApp {
  display: flex;
  flex-direction: column;
}

.mainAppPage {
  display: flex;
  flex-direction: row;
}

.sidebar {
  margin-top: 50px;
  padding: 0;
  position: fixed;
}

.jobs-card-container {
  width: 80%; /* adjust the width to your liking */
  padding: 20px;
  margin-left: 30%;
}
header.headerApp {
  height: 60px; 
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  top: 0;
}

/*profile*/

.mainAppProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.aboutUser {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 32px;
  width: 80%;
}

.user-data {
  display: flex;
  flex-direction: column;
  margin: 32px;
}

.meta-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.meta-user img {
  margin-right: 10px;
  width: 192px;
  height: 192px;
}

.exp {
  margin: 16px;
}

.userJobs {
  width: 80%;
  margin: 16px;
}

/*Creater Jobs*/

.jobsCard h2 input[type="text"] {
  /* inherit styles from h2 element */
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  /* additional styles for input element */
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.jobsCard textarea {
  border: none;
  padding: 10px;
  font-size: 16px;
  resize: none; /* Prevent manual resizing */
  width: 100%;
  height: auto;
  overflow: hidden;
  min-height: 100px;
}


/*PoliticaDePrivacidade*/

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 2rem;
  background-color: #f9f9f9;
}
h1, h2, h3 {
  color: #0077b6;
}
p, ul {
  margin: 1rem 0;
}
ul {
  padding-left: 1.5rem;

}
