/*switchbutton*/
.switch-button {
    background-color: #2E3192; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }

  /*jobsCard*/
  .jobsCard {
    background: white;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(46,49,146, 0.5);
    margin: 2rem;
}

.data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.jobsCard_title {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
}

.moneyName {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.moneyName p {
  margin: 8px;
}

.moneyName button {
  background: #0077b6;
  color: white ;
  backdrop-filter: blur(10px);
  border-radius: 32px;
  width: 100px;
  text-align: center;
  margin: 8px;
}

.moneyName button:hover {
  background: #2E3192;
}

.daoCard {
  background: white;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(46,49,146, 0.5);
  margin: 2rem;
  align-items: center;
}

/*Wallet*/

.App {
  text-align: center;
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.wallet-container {
  background: #0077b6;
  backdrop-filter: blur(10px);
  border-radius: 32px;
  width: 200px;
  text-align: center;
}

.wallet-container p {
  color: white;
  font-size: 0.8rem;
  margin: 0;
}

.wallet-container button {
  background-color: #0077b6;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  width: 100%;
}

.wallet-container button:hover {
  background-color: #2E3192;
}

.WalletInfo {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.logoWallet {
  margin: 4px;
  background-color: aliceblue;
  border-radius: 50%; /* Garantir que a imagem seja circular */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoWallet img {
  width: 32px;
  height: 32px;
  border-radius: 50%; /* Garantir que a imagem seja circular */
}

.walletName {
  margin: 15px;
  margin-top: 0;
  margin-bottom: 0;
}

/*Dropzone*/

.container-dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: 300px;
  margin: 20px 0;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}