.mainAppPage {
    display: flex;
    flex-direction: row;
}

.sidebar-container {
    width: 20%; /* adjust the width to your liking */
    padding: 20px;
    position: fixed;
}

.jobs-card-container {
    width: 80%; /* adjust the width to your liking */
    padding: 20px;
    margin-left: 30%;
    
}